
body {
	background-color: #cce3c7;
}

@font-face {
    font-family: coppergothic;
    src: url('Copperplate Gothic Regular.otf');
}

@font-face {
	font-family: futura;
	src: url('FuturaTEE Regular.ttf');
}

@font-face {
	font-family: kabel;
	src: url('kabel.ttf');
}


#logo {
	width: 40%;
	height: auto; 
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.linkbox {
	width: 10%;
	height: 30px;
	border: 3px solid black;
	margin-left: 5px;
	margin-right: 5px;
	font-family: futura;
	font-weight: bold;
	font-size: 14px;
	color: black;
	text-align: center;
	letter-spacing: 1px;
	line-height: 30px;
	-webkit-transition: all 0.2s ease-in-out;
  	-moz-transition: all 0.2s ease-in-out;
  	-o-transition: all 0.2s ease-in-out;
  	transition: all 0.2s ease-in-out; 
}

.linkboxtext {
	display: flex;
	flex-direction: horizontal;
	justify-content: center;
}


#links {
	display: flex;
	flex-direction: horizontal;
	justify-content: center;
}

.linkbox a {
	text-decoration: none;
	color: black;
	-webkit-transition: all 0.2s ease-in-out;
  	-moz-transition: all 0.2s ease-in-out;
  	-o-transition: all 0.2s ease-in-out;
  	transition: all 0.2s ease-in-out; 
}

.linkbox a:hover {
	letter-spacing: 2px;
	-webkit-transition: all 0.2s ease-in-out;
  	-moz-transition: all 0.2s ease-in-out;
  	-o-transition: all 0.2s ease-in-out;
  	transition: all 0.2s ease-in-out; 
}

.linkbox:hover {
	cursor: pointer;
	letter-spacing: 2px;
	-webkit-transition: all 0.2s ease-in-out;
  	-moz-transition: all 0.2s ease-in-out;
  	-o-transition: all 0.2s ease-in-out;
  	transition: all 0.2s ease-in-out; 
}

#content {
	width: 70%;
	display: flex;
	flex-direction: vertical;
	justify-content: center;
	display: block;
    margin-left: auto;
    margin-right: auto;
}
#faq, #classinfo, #schedule, #assignments, #labs, #staff, #resources {
	border-top: 4px solid black;
	margin: 40px;
}

#faq .question {
	font-family: futura;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
	margin: 15px 0px 15px 15px;
}

#faq .answer {
	font-family: futura;
	font-size: 14px;
	margin: 0px 0px 0px 30px;
	line-height: 18px;
}

h1 {
	font-family: kabel;
	font-size: 100;
	color: white;
	text-shadow: -3px 4px #000000;
	margin-top: 40px;
	margin-bottom: 40px;
	letter-spacing: 4px;
}

@media only screen and (max-width: 1200px) {
    .linkbox {
        font-size: 12px;
    }
}

@media only screen and (max-width: 1000px) {
    .linkbox {
        font-size: 10px;
    }
}

@media only screen and (max-width: 800px) {
    .linkbox {
        font-size: 9px;
    }
}

@media only screen and (max-width: 700px) {
    .linkbox {
        display: none;
    }

    h1 {
    	text-align: center;
    }
}

